@import "tailwindcss";

@layer base {
  :root {
    /* Set default warna ke Indigo jika belum ada di localStorage */
    --brand-color: #4f46e5; 
  }

  html, body {
    @apply m-0 p-0 overflow-x-hidden bg-slate-50;
  }
}

@layer utilities {
  .bg-brand { background-color: var(--brand-color) !important; }
  .text-brand { color: var(--brand-color) !important; }
  .border-brand { border-color: var(--brand-color) !important; }
  .ring-brand { --tw-ring-color: var(--brand-color) !important; }
}